# Virtual environment
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Data files
data/
*.db
*.duckdb

# Logs
logs/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/.user.yml

# OS
.DS_Store
